
body {
    background-image: url("../wall.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 0px;
    margin: 0px;
  }

nav{
    display: flex;
    background-color: white;

}
nav .navbar{
    display: flex;
    align-items: center;
    width: 100%;
  
  
}
nav .navbar li{
    padding-left: 20px;
   
}
ul li{
    list-style: none; 
}
nav .navbar li a{
    text-decoration: none;
   color: black;
}
header nav{
    border-radius: 0px 0px 30px 30px;
}
.container{
    width: 1600px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 20px;
}
.container .container-body{
    padding: 10px;
    width: 95%;
    /* background-color: red; */
    margin: 0 auto;
    /* text-align: center; */
}
.btn-manage{
    width: 48%;
    height: 40px;
    border-radius: 10px;
    /* background-color: #59A3B4; */
    /* color: white; */

}

.btn-manage:active{
    background-color: green;


}
.top{
    display: flex;
    flex-direction: column;
}
.top .top-body .btn-room{
   
    border-radius: 10px;
    background-color: #59A3B4;
    color: white;

}
button.btn-room {
    height: 100%;
  
    width: 10%;
}
.top-body{
    height: 90px;
}

.top-body .move-right {
    margin-left: 50px; /* Adjust the margin as needed */
}
a:is(:link,:active,:visited).active{
   color:#59A3B4;
}
.detail-room{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.body-detail{
    display: flex;
}
.room{
    width: 20%;
}


.box-room {
    border: 2px solid;
    /* background: red; */
    padding: 15px;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .boox-room p{
    align-items: center;
} */
.img-detail{
   
    width: 80%;
    margin-left: 20px;
    border-radius: 10px;
}
.all-img{
    display: flex;
    border: 2px solid;
    border-radius: 10px;
    height: 150px;
   
}
.all-img img{
    width:25%;
}
.price-per-day{
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.text-per-day h2{
    margin-left: 10px;
}
.price-per-day h2{
   margin-left: 10px;
   
 }
 .box-price{
    /* display: flex; */
    /* justify-content: space-between; */
 }
 /* .each-room{
    display: flex;
    justify-content: space-between;
 } */
 .btn-increas{
    width: 40%;
    display: flex;
    justify-content: space-between;
 }
 .box-room{
    font-size: 24px;
 }

 .box-address{
    margin-top: 20px;
 }
input.form-control{
    width: 72%;
    height: 40px;
    border-radius: 10px;
    border: solid darkgrey;
}
.fix-item-address{
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
}
.item {
    flex: 0 0 calc(50% - 10px); /* Two items in each row (minus margins) */
    margin: 5px; /* Add some margin between items
    padding: 10px; */
    /* border: 1px solid #ccc; */
    box-sizing: border-box; /* Include padding and border in the width */
}
.group-address{
display: flex;
flex-direction: column;
}
input.form-control.country,input.form-control.city,input.form-control.zip,input.form-control.apv{
    width: 81%;

}
.fix-item-address {
    width: 80%;
    margin-top: 25px;
}
.address{
    /* margin: 5px; */
    /* padding: 10px; */
}
textarea#w3review {
    width: 72.5%;
    height: 100px;
    margin-top: 10px;
}
.box-Convenience{
    margin-top: 5px;
}
.all-images{
    display: flex;
}
.box-imag-address{
   
    
}
.btn-confirm-edit{
    margin: 0 auto;
    width: 10%;
}
.btn-edit{
    background-color: #59A3B4;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 150px;
}